:root {
	--hue: 140;
	--first-color: hsl(var(--hue) 24% 32%);
	--first-color-alt: hsl(var(--hue) 30% 20%);
	--title-color: hsl(var(--hue) 4% 15%);
	--text-color-light: hsl(var(--hue) 4% 55%);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

.container {
	--container-width: 1170px;
	--container-padding-x: 1rem;
	width: min(var(--container-width), 100% - (var(--container-padding-x) * 2));
	margin: 0 auto;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	text-align: center;

	min-height: 100vh;
}

.title {
	color: var(--title-color);
	font-weight: 700;
}

.buttonReset {
	display: inline-flex;
	margin-top: 2rem;
	padding: 1rem 1.75rem;
	color: #fff;
	font-weight: 600;
	font-size: 1rem;
	background-color: var(--first-color);
	border-radius: 0.5rem;
	transition: 0.3s;
}

.buttonReset:hover {
	background-color: var(--first-color-alt);
}
